<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta property="og:locale" content="en_US" >
<meta name="description"
      content="Tessy Joseph John is a software Engineer, Polyglot programmer.Her code powers some leading fintech startups">
<meta name="author" content="Tessy Joseph John">
<meta name="keywords" content="Tessy Joseph John, Tessy, Tessy Joseph,Software Engineer, Polyglot Programmer, Java Developer, Ruby on Rails Developer, Fintech">
<meta property="og:title" content="Tessy Joseph John|Software Engineer">
<meta property="og:description" content="Tessy Joseph John is a software Engineer, Polyglot programmer with experience.Her code powers some leading fintech startups">
<meta property="og:type" content="website">
<meta property="og:url" content="https://tesssie.github.io/">
<meta property="og:site_name" content="Tessy Joseph John">
<meta property="og:image" content="{{ site.url }}assets/images/favicon-32x32.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
<title>Tessy Joseph John</title>
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<link rel="shortcut icon" type="image/jpg" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
<link rel="canonical" href="{{site.url}}"/>
<script type="application/ld+json"> {
    "@type": "WebSite",
    "headline": "Home",
    "url": "{{site.url}}",
    "description": "Tessy Joseph John is a software Engineer, Polyglot programmer with experience.Her code powers some leading fintech startups",
    "name": "Tessy Joseph John",
    "@context": "https://schema.org"
}</script>