<div class="social-media">
    <ul class="list-group list-group-vertical list-group-flush">
        <li class="list-group-item social-media-item">
            <a title="inkedin.com/in/tesssie" data-title="linkedin.com/in/tesssie" target="_blank"
               href="https://www.linkedin.com/in/tesssie/">
                <ion-icon size="large" aria-label="https://www.linkedin.com/in/tesssie/"
                          title="https://www.linkedin.com/in/tesssie" name="logo-linkedin"></ion-icon>
            </a>
        </li>
        <li class="list-group-item social-media-item">
            <a title="github.com/tesssie" target="_blank" data-title="github.com/tesssie"
               href="https://github.com/tesssie">
                <ion-icon size="large" size="large" aria-label="github.com/tesssie"
                          name="logo-github"></ion-icon>
            </a>
        </li>
        <li class="list-group-item social-media-item">
            <a title="medium.com/@tessyjoseph" target="_blank" data-title="medium.com/@tessyjoseph"
               href="https://medium.com/@tessyjoseph">
                <ion-icon size="large" aria-label="medium.com/@tessyjoseph" name="logo-medium"></ion-icon></a>
        </li>
        <li class="list-group-item social-media-item">
            <a title="stackoverflow.com/users/2813483/tessie" target="_blank"
               data-title="stackoverflow.com/users/2813483/tessie"
               href="https://stackoverflow.com/users/2813483/tessie">
                <ion-icon size="large" aria-label="stackoverflow.com/users/2813483/tessie"
                          name="logo-stackoverflow"></ion-icon>
            </a>
        </li>
    </ul>
</div>
