<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="Tessy Joseph John is a software Engineer, Polyglot programmer with experience.Her code powers some leading fintech startups">
    <meta name="author" content="Tessy Joseph John">
    <meta name="keywords" ,
          content="Tessy, Tessy Joseph, Tessy Joseph John, Software Engineer, Polyglot Programmer, Java Developer, Ruby on Rails Developer, Fintech">
    <meta property="og:title" , content="Tessy Joseph John|Software Engineer">
    <meta property="og:description" ,
          content="Tessy Joseph John is a software Engineer, Polyglot programmer with experience.Her code powers some leading fintech startups">
    <meta property="og:type" , content="website">
    <meta property="og:url" , content="https://tesssie.github.io/">
    <meta property="og:site_name" , content="Tessy Joseph John|Software Engineer">
    <meta property="og:image" , content="{{ site.url }}assets/images/favicon-32x32.png">

    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    <title>Tessy Joseph John|Software Engineer</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="shortcut icon" type="image/jpg" href="{{ '/assets/images/favicon-32x32.png' | relative_url }}">
</head>
<body>
<div class="container">
    <div class="col-lg-12" style="margin-top: 200px">
        <div class="about-me">
            <h1 class="about-me-name"> Tessy Joseph John</h1>
            <h1 style="color: #00cc00">She/Her| Software Engineer| Learner </h1>
            <p>Hi, I am a software engineer by profession and passion.</p>
            <p>My code powers payment gateways, fintech
                applications, media companies.</p>
        </div>
        <div class="social-media">
            <ul class="list-group list-group-horizontal list-group-flush">
                <li class="list-group-item social-media-item">
                    <a title="inkedin.com/in/tesssie" data-title="linkedin.com/in/tesssie" target="_blank"
                       href="https://www.linkedin.com/in/tesssie/">
                        <ion-icon size="large" aria-label="https://www.linkedin.com/in/tesssie/"
                                  title="https://www.linkedin.com/in/tesssie" name="logo-linkedin"></ion-icon>
                    </a>
                </li>
                <li class="list-group-item social-media-item">
                    <a title="github.com/tesssie" target="_blank" data-title="github.com/tesssie"
                       href="https://github.com/tesssie">
                        <ion-icon size="large" size="large" aria-label="github.com/tesssie"
                                  name="logo-github"></ion-icon>
                    </a>
                </li>
                <li class="list-group-item social-media-item">
                    <a title="medium.com/@tessyjoseph" target="_blank" data-title="medium.com/@tessyjoseph"
                       href="https://medium.com/@tessyjoseph">
                        <ion-icon size="large" aria-label="medium.com/@tessyjoseph" name="logo-medium"></ion-icon></a>
                </li>
                <li class="list-group-item social-media-item">
                    <a title="stackoverflow.com/users/2813483/tessie" target="_blank"
                       data-title="stackoverflow.com/users/2813483/tessie"
                       href="https://stackoverflow.com/users/2813483/tessie">
                        <ion-icon size="large" aria-label="stackoverflow.com/users/2813483/tessie"
                                  name="logo-stackoverflow"></ion-icon>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
</body>
</html>
