---
layout: default
---

<div class="col-md-11">
    <div class="about-me">
        <h1 class="about-me-name"> Tessy Joseph John</h1>
        <h2 style="color: #00cc00">She/Her| Polyglot Programmer| Learner </h2>
        <p>Hi, I am a software engineer by profession and passion.<br>
            My code powers payment gateways, fintech applications, a media companies.<br>
            Besides coding, I love cooking
            I am a polyglot programmer have strong interest to learn other coding languages.
        <p>My skills in include</p>
        <ul>
            <li>Proven coding skills in Ruby, Python, Java</li>
            <li>Web Frameworks: Ruby on Rails, Django, Spring, React</li>
            <li>Strong knowledge on SQL and No-SQL databases -Postgres, MongoDB, Redis</li>
            <li>Expertise in writing clean and maintainable code following TDD, Code Reviews</li>
        </ul>
    </div>
</div>